.card {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  background-color: #ffffff3f;
  border: 1px solid rgb(26, 26, 26);
  border-radius: 20px;
  margin: auto;
  justify-content: center;
  padding: 1rem 1rem;
}

.img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  object-fit: cover;
  width: 50%;

  max-width: 100%;
  height: auto;
}

.content {
  display: flex;
  padding: 1rem 1rem;
}

.card h4 {
  font-size: medium;
}
