@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Manrope:wght@200&display=swap");

.f1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: rgb(191, 124, 73);
  border-color: rgb(191, 124, 73);
  font-size: 14px;
  color: rgb(253, 235, 228);
  text-align: center;
  width: 200px;
  height: 45px;
  font-family: "Manrope", sans-serif;
}

.f1 option {
  margin-bottom: 200px;
}

.f1:hover {
  background-color: burlywood;
  color: brown;
}

.f2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: rgb(191, 124, 73);
  border-color: rgb(191, 124, 73);
  font-size: 14px;
  color: rgb(253, 235, 228);
  text-align: center;
  width: 200px;
  height: 45px;
  font-family: "Manrope", sans-serif;
}

.f2 option {
  margin-bottom: 200px;
}

.f2:hover {
  background-color: burlywood;
  color: brown;
}

.f3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: rgb(191, 124, 73);
  border-color: rgb(191, 124, 73);
  font-size: 14px;
  color: rgb(253, 235, 228);
  text-align: center;
  width: 200px;
  height: 45px;
  font-family: "Manrope", sans-serif;
}

.f3 option {
  margin-bottom: 200px;
}

.f3:hover {
  background-color: burlywood;
  color: brown;
}

.f4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: rgb(191, 124, 73);
  border-color: rgb(191, 124, 73);
  font-size: 14px;
  color: rgb(253, 235, 228);
  text-align: center;
  width: 200px;
  height: 45px;
  font-family: "Manrope", sans-serif;
}

.f4 option {
  margin-bottom: 200px;
}

.f4:hover {
  background-color: burlywood;
  color: brown;
}

