.body {
    background-image: url("../../Assets/HomeDogs.jpg");
    /* background-size: cover; */
}

.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    margin: 5px;
    height: 30px;
    margin-top: 5px;
    color: white;
    border: 1px;
    border-color:brown;
}

