.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  align-items: center;
  background-color: #ffffff3f;
  border: 1px solid rgb(26, 26, 26);
  border-radius: 20px;
  margin: auto;
}

.card img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  object-fit: cover;
  width: 90%;
  height: 90%;
}

/* .card h4 {
  font-size: medium;
} */

.cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(230px, 1fr));
  grid-gap: 20px;
  padding: 10px;
  margin: 20px;
  color:black;
}

.link {
    background-color: #333;
    color: #fff;
    font-weight: 1000;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.link:hover {
    background: peru;
    color: #333;
    transition: all 1000ms ease;
}