.back {
  background-image: url(../../Assets/HomeDogs.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.tittle {
  font-size: 5em;
  font-weight: bold;
  color: brown;
  text-shadow: -2px -2px 1px #000, -2px -2px 1px #000;
  text-align: center;
  margin-bottom: 1em;
}

.createdog {
  color: white;
  text-shadow: /* -2px -2px 1px #000, */ /* -2px 2px 1px #000, */ 2px -2px 1px #000;
  font-size: 27px;
  margin-right: 2%;
}

.error {
  color: red;
  font-size: 20px;
}

.dots {
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

.lettersB {
  font-size: 25px;
  background-color: rgb(122, 119, 119);
  margin-right: 40px;
  cursor: pointer;
  margin-bottom: 60px;
}
